html {
	overflow-x: hidden;
}

html,
body {
	font-family: 'Alegreya Sans', serif;
	font-size: 18px; /* Base font size */
	font-kerning: normal;
	text-rendering: optimizeLegibility;
	background-color: #FFF;
	color: #1B2B34;
}

@media only screen
	and (min-width: 1200px) {

	html,
	body {
		font-size: 21px;
	}
}

.site-wrapper {
	max-width: 55em;
	margin: auto;
	padding: 0 3em;
}

.serif {
	font-family: 'Alegreya Sans', serif;
}

.sans {
	font-family: 'Alegreya Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6,
.h0, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 800;
}

.h0 { font-size: 3.125em; line-height: 1; }
h1, .h1 { font-size: 2.618em; }
h2, .h2 { font-size: 1.931em; }
h3, .h3 { font-size: 1.618em; color: #65737E; }
h4, .h4 { font-size: 1.194em; }
h5, .h5 { font-size: 1em; }
h6, .h6 { font-size: 1em; }

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
	margin-bottom: 0.25em;
}

strong, b {
	color: #343D46;
}

p {
	/*margin: 0;*/
	line-height: 1.55;
}

/*.content p + p {
	text-indent: 1em;
}*/

a {
	color: #36C;
}

a:hover,
a:focus,
a:active {
	color: #69C;
}

ul {
	list-style-type: disc;
	margin: 0;
	/*padding: 0;*/
}

li {
	margin: 0.5em 0;
}

li li {
	margin-right: 1em;
}

img {
	max-width: 100%
}

p>img {
	margin-left: -1em;
}

.hero {
	position: relative;
	background-color: #36C;
  margin: 0 -600em;
  padding: 1em 600em;
}

.hero::before {
	content: "";
	position: absolute;
  z-index: -1; /* behind parent */
  top: 0;
  bottom: 0;
  left: 598.5rem;
  right: 598.5rem;
	background-color: #36C;
}

.hero p,
.hero a,
.hero h1,
.hero h2,
.hero h3,
.hero h4,
.hero h5,
.hero h6 {
	color: #FFF;
}

.hero a:hover,
.hero a:focus,
.hero a:active {
	color: #D8DEE9;
}

figure {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

figure img {
	border: 1px solid #C0C5CE;
}

@media only screen
	and (min-width: 52em) {

	.figwrapper {
		position: absolute;
		right: 0;
		width: 33.3333%;
	}

	.figwrapper>figure {
		position: relative;
		margin-top: 0;
	}
}

figcaption {
	font-size: 0.833em;
	color: #4F5B66;
}

hr {
	border: none;
	border-top: 1px solid #C0C5CE;
	margin: 2em 0;
}

.project {
	background-position: top center;
	background-size: cover;
}

.project>div {
	min-height: 15em;
	background-color: rgba(51, 102, 204, 0.93);
	border: 1px solid transparent;
}

.project,
.project span,
.project p,
.project h3 {
	color: #FFF;
}

.project a {
	color: #FFF;
}

.project a:hover,
.project a:focus,
.project a:active {
	color: #D8DEE9;
}

.note {
	color: #4F5B66;
	border: 1px solid #C0C5CE;
	margin-left: -1em;
	margin-right: -1em;
	padding: 0.5em 1em;
}

.mt05 {
	margin-top: 0.5em;
}

.caps {
	letter-spacing: 1px;
}

.silver {
	color: #C0C5CE;
}

.border-silver {
	border-color: #C0C5CE;
}

.lb-data .lb-caption {
	font-size: 17px;
}
