extends layout

block content
	h5.mb0.serif
		a(href=locals.url) &laquo; Home

	h2 #{ page.title }
	
	!= typogr(page.html).typogrify()
	
	div.clearfix
		h5.mb0.serif.col.sm-col-4
			a(href=locals.url) &laquo; Home
		h5.mb0.serif.col.sm-col-4.center
			a(href=locals.url + page.url) &uarr; Top
